[user]
name = mephory
email = mephory@mephory.com
signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCuQ7g/qJ0T5ZCWVhLp0nnhgjXhGwemx/tZkUyGJKO8S2vddicsC+VRVk3g4BvyUqyKlsCm9aWQn2FdQ25t9ZqlUirbeLvomIogXRk6ejhpbU89+qpCAsDl/BcriMmS8OsVwH4iU2oA/mJUuRRSfBRjBfO9+xK7M/swHKdbS9SshK9eM5mtdRxtDtsREUTZilSZGJdsSrF2SoJYnyqzblcXWqRbRv5uHhVH5V43ba0rEi335iSIqIqtcarhg9ihSa1w6Y7owXnXrpk7gJwEUWvTG8DNlFZFel0qd7xG3LGLHkVNzDtHuGZOLQzTJ3pJWW3V3MjKuHBhfxgW7CiSzLs9sKHAERPXivOr7HYhOCqUynYj5IDvmMa+BRdDt8aFfpLizyW5rg/ZJoG47FD/DsYVBvnJedls5MeXY/CRTqzShR/I4xCdveXQAmwVGGVuvO3w4UttoDRK7mRfHj2DdMV4oLfgW4EGLqHHxnlKYf/9WJVBnSJE7M+zazcU6kx1Hb0=

[alias]
st = status -sb
co = checkout
ignore = update-index --assume-unchanged
unignore = update-index --no-assume-unchanged
ignores = !git ls-files -v | grep "^[[:lower:]]"
pom = push origin master
curbranch = rev-parse --abbrev-ref HEAD
cb       = rev-parse --abbrev-ref HEAD
mod      = !cd ${GIT_PREFIX:-.} && git status -sb | grep -E '^ ?M' | cut -d' ' -f3 | sort | uniq
modified = !cd ${GIT_PREFIX:-.} && git status -sb | grep -E '^ ?M' | cut -d' ' -f3 | sort | uniq
del      = !cd ${GIT_PREFIX:-.} && git status -sb | grep -E '^ ?D' | cut -d' ' -f3 | sort | uniq
deleted  = !cd ${GIT_PREFIX:-.} && git status -sb | grep -E '^ ?D' | cut -d' ' -f3 | sort | uniq
con      = !cd ${GIT_PREFIX:-.} && git status -sb | grep -E '^ ?UU' | cut -d' ' -f2 | sort | uniq
conf     = !cd ${GIT_PREFIX:-.} && git status -sb | grep -E '^ ?UU' | cut -d' ' -f2 | sort | uniq
conflict = !cd ${GIT_PREFIX:-.} && git status -sb | grep -E '^ ?UU' | cut -d' ' -f2 | sort | uniq
unst     = !cd ${GIT_PREFIX:-.} && git status -sb | grep -E '^\\?\\?' | cut -d' ' -f2 | sort | uniq
unstaged = !cd ${GIT_PREFIX:-.} && git status -sb | grep -E '^\\?\\?' | cut -d' ' -f2 | sort | uniq
mm       = !cd ${GIT_PREFIX:-.} && git status -sb | grep -E '^ ?(AM|MM)' | sed -E 's/^ ?(AM|MM)? //g' | sort | uniq
loglocal = !git log $(git curbranch) ^origin/$(git curbranch)
tree = log --oneline --decorate --graph
sl = stash list --name-status --pretty='format:%gd [%ar]: %s'
dif = diff
tf = touchedfiles
root = !pwd
tracking = rev-parse --abbrev-ref --symbolic-full-name @{u}
sut = !git branch --set-upstream-to=origin/$(git curbranch) $(git curbranch)
l = log --oneline --decorate --graph --abbrev-commit

[commit]
gpgsign = true

[color]
ui = true

[push]
default = simple

[pull]
rebase = true

[core]
autocrlf = input
pager = "diff-so-fancy | less --tabs=1,5 -R"

[rerere]
enabled = true

[branch]
sort = -committerdate

[credential]
	helper = osxkeychain

[gpg]
program = gpg2
format = ssh

[gpg "ssh"]
program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[url "git@github.com:"]
	insteadOf = https://github.com/
